<div class="pcoded-navigation-label">Menu <%= groupid %></div>
<ul class="pcoded-item pcoded-left-item">
    <li class="">
        <a href="/home/<%= groupid %>/list_shop" class="waves-effect waves-dark">
            <span class="pcoded-micon">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">List Shop</span>
        </a>
    </li>
    <li class="">
        <a href="/home/<%= groupid %>/list_users" class="waves-effect waves-dark">
            <span class="pcoded-micon">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">Users Manager</span>
        </a>
    </li>
    <li class="">
        <a href="/home/<%= groupid %>/list_customers" class="waves-effect waves-dark">
            <span class="pcoded-micon">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">List Customers</span>
        </a>
    </li>
    <li class="">
        <a href="/home/<%= groupid %>/me" class="waves-effect waves-dark">
            <span class="pcoded-micon">
                <i class="feather icon-menu"></i>
            </span>
            <span class="pcoded-mtext">My Profiles</span>
        </a>
    </li>
</ul>