<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %> <%= groupid %></title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Admindek Bootstrap admin template made using Bootstrap 5 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="colorlib" />
<script type="text/javascript" src="/Template/files/bower_components/jquery/js/jquery.min.js"></script>
    <!-- Favicon icon -->

    <link rel="icon" href="/Template/files/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/Template/files/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- waves.css -->
    <link rel="stylesheet" href="/Template/files/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
    <!-- feather icon -->
    <link rel="stylesheet" type="text/css" href="/Template/files/assets/icon/feather/css/feather.css">
    <!-- sweet alert framework -->
    <link rel="stylesheet" type="text/css" href="/Template/files/bower_components/sweetalert/css/sweetalert.css">
    
    <!-- jquery sortable js -->
    <script type="text/javascript" src="/Template/files/bower_components/Sortable/js/Sortable.js"></script>
    
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/Template/files/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/Template/files/assets/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/Template/files/assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- animation nifty modal window effects css -->
    <link rel="stylesheet" type="text/css" href="/Template/files/assets/css/component.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/Template/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Template/files/assets/css/pages.css">
    <link rel="stylesheet" type="text/css" href="/Template/files/assets/css/widget.css">
    <link rel="stylesheet" type="text/css" href="/timetango.css">

</head>

<body class="menu-bottom">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    <!-- [ Pre-loader ] end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- [ Header ] start -->
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <%- include('partial/logo') %>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <%- include('partial/search') %>
                        </ul>
                        <ul class="nav-right">
                            <li class="user-profile header-notification">
                                <%- include('partial/profiles') %>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!-- [ navigation menu ] start -->
                    <nav class="pcoded-navbar">

                        <div class="nav-list">
                            <div class="pcoded-inner-navbar main-menu">
   <%- include('./groupid/'+groupid+'/menu'); %>
                            </div>
                        </div>
                    </nav>
                    <!-- [ navigation menu ] end -->
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
    <%- include('./groupid/'+groupid+'/'+func); %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main-body end -->
                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
<!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="/Template/files/assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="/Template/files/assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="/Template/files/assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="/Template/files/assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="/Template/files/assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
<!-- Warning Section Ends -->
<!-- Required Jquery -->
<script type="text/javascript" src="/Template/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/Template/files/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="/Template/files/bower_components/bootstrap/js/bootstrap.min.js"></script>
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script> -->
 <script type="text/javascript" src="/jquery.ui.touch-punch.js"></script>
<!-- waves js -->
<script src="/Template/files/assets/pages/waves/js/waves.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="/Template/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="/Template/files/bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="/Template/files/bower_components/modernizr/js/css-scrollbars.js"></script>
<!-- sweet alert js -->
<script type="text/javascript" src="/Template/files/bower_components/sweetalert/js/sweetalert.min.js"></script>
<script type="text/javascript" src="/Template/files/assets/js/modal.js"></script>
<!-- sweet alert modal.js intialize js -->

<!-- modalEffects js nifty modal window effects -->
<script src="/Template/files/assets/js/classie.js"></script>
<script type="text/javascript" src="/Template/files/assets/js/modalEffects.js"></script>
<script src="/Template/files/assets/js/pcoded.js"></script>
<script src="/Template/files/assets/js/vertical/menu/menu-sidebar-fixed.js"></script>
<!-- <script src="/Template/files/assets/js/vertical/vertical-layout.js"></script> -->
<script src="/Template/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="/Template/files/assets/js/script.js"></script>
<script type="text/javascript" src="/Template/files/bower_components/moment/js/moment.min.js"></script>
<script type="text/javascript" src="/timetango.js"></script>
</body>

</html>
